#graph {
    /* width: 100vw; */
    margin: 0;
}

#graph > .row {
    width: 100vw;
}

#graph #graph-view {
    height: 100vh;
    width: 100%;
}

h1 {
    margin: 0.5em auto;
}

#graph #graph-settings {
    display: flex; /* or inline-flex */
    flex-direction: column;
    max-height: 100vh;
    overflow: scroll;
}

#graph-settings .card-body > *:not(:first-child) {
    /* display: flex; */
    display: inline-block;
    margin: 0.2em;
}

.card {
    margin: 0.2em 0;
}

.card .md-form {
    display: inline-block;
}

#node-settings, #node-input-output {
    width: 100%;
    padding: 0 1em;
}
